<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:include="thymeleaf/layout :: headerFragment">
        <title>User Home</title>
    </head>
    <body>
        <div th:include="thymeleaf/layout :: menuFragment"></div>
        <div class="row col-lg-12">
            <div class="col-lg-5">
                <div class="well well-sm">

                    <form class="form-horizontal" role="form" method="post" action="#"
                          th:action="@{/user/add.htm}" th:object="${newUser}">
                        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>    
                        </div>
                        <div class="form-group">
                            <label for="fullName" class="col-sm-4 control-label">Full Name</label>
                            <div class="col-sm-5">
                                <input type="text" th:field="*{fullName}" class="form-control" id="fullName" placeholder="Enter fullName" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userName" class="col-sm-4 control-label">User Name</label>
                            <div class="col-sm-5">
                                <input type="text" th:field="*{userName}" class="form-control" id="userName" placeholder="userName" />
                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="userAuth.passVal" class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-5">
                                <input type="password" th:field="*{userAuth.passVal}" class="form-control" id="userAuth.passVal" placeholder="password" />
                            </div>	
                        </div>
                        <div class="form-group">
                            <label for="userAddDetail.address" class="col-sm-4 control-label">Address</label>
                            <div class="col-sm-5">
                                <textarea rows="5" cols="24" th:field="*{userAddDetail.address}" id="userAddDetail.address" placeholder="your complete address"></textarea>
                            </div>	
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-danger">Clear</button>
                            </div>
                        </div>		
                    </form>
                </div>			
            </div>
            <div class="col-lg-6">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Auth</th>
                            <th>Add Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>    
        <div th:include="thymeleaf/layout :: scriptFragment"></div>
    </body>
</html>